In [9]:
#import os
#import shutil
#import kagglehub

#os.environ["KAGGLEHUB_CACHE"] = "/Users/nicholasthornton/Downloads/DS 6021/kagglehub_cache"

#src = kagglehub.dataset_download("rounakbanik/the-movies-dataset")
#dst = "/Users/nicholasthornton/Downloads/DS 6021/the-movies-dataset"

#if os.path.exists(dst):
#    shutil.rmtree(dst)

#shutil.copytree(src, dst)
#print(dst)

import os
import pandas as pd
from IPython.display import display

data_dir = "/Users/nicholasthornton/Downloads/DS 6021/the-movies-dataset"

files = [
    "credits.csv",
    "keywords.csv",
    "links.csv",
    "links_small.csv",
    "movies_metadata.csv",
    "ratings.csv",
    "ratings_small.csv"
]

for f in files:
    path = os.path.join(data_dir, f)
    df = pd.read_csv(path, low_memory=False)
    print(f"\nDataset: {f}")
    print(f"Rows: {df.shape[0]}")
    print(f"Columns: {df.shape[1]}")
    print(f"Column Names: {list(df.columns)}")
    display(df.head())

Dataset: credits.csv
Rows: 45476
Columns: 3
Column Names: ['cast', 'crew', 'id']

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

Dataset: keywords.csv
Rows: 46419
Columns: 2
Column Names: ['id', 'keywords']

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

Dataset: links.csv
Rows: 45843
Columns: 3
Column Names: ['movieId', 'imdbId', 'tmdbId']

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Dataset: links_small.csv
Rows: 9125
Columns: 3
Column Names: ['movieId', 'imdbId', 'tmdbId']

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Dataset: movies_metadata.csv
Rows: 45466
Columns: 24
Column Names: ['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Dataset: ratings.csv
Rows: 26024289
Columns: 4
Column Names: ['userId', 'movieId', 'rating', 'timestamp']

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

Dataset: ratings_small.csv
Rows: 100004
Columns: 4
Column Names: ['userId', 'movieId', 'rating', 'timestamp']

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [10]:
#Mergining

import os
import ast
import numpy as np
import pandas as pd

data_dir = "/Users/nicholasthornton/Downloads/DS 6021/the-movies-dataset"

def safe_eval(x):
    if pd.isna(x):
        return []
    if isinstance(x, (list, dict)):
        return x
    try:
        v = ast.literal_eval(x)
        return v if v is not None else []
    except Exception:
        return []

def first_cast_name(cast_str):
    v = safe_eval(cast_str)
    if isinstance(v, list) and len(v) > 0 and isinstance(v[0], dict):
        return v[0].get("name", np.nan)
    return np.nan

def list_len(list_str):
    v = safe_eval(list_str)
    return len(v) if isinstance(v, list) else 0

def genres_pipe(genres_str):
    v = safe_eval(genres_str)
    if isinstance(v, list):
        names = [d.get("name") for d in v if isinstance(d, dict) and d.get("name") is not None]
        return "|".join(names) if names else np.nan
    return np.nan

links = pd.read_csv(os.path.join(data_dir, "links.csv"), usecols=["movieId", "tmdbId"], low_memory=False)
links["tmdbId"] = pd.to_numeric(links["tmdbId"], errors="coerce")
links = links.dropna(subset=["tmdbId"]).copy()
links["tmdbId"] = links["tmdbId"].astype(int)

sum_by_movie = {}
cnt_by_movie = {}

for chunk in pd.read_csv(
    os.path.join(data_dir, "ratings.csv"),
    usecols=["movieId", "rating"],
    low_memory=False,
    chunksize=2_000_000
):
    g = chunk.groupby("movieId")["rating"].agg(["sum", "count"])
    for mid, row in g.iterrows():
        mid_int = int(mid)
        sum_by_movie[mid_int] = sum_by_movie.get(mid_int, 0.0) + float(row["sum"])
        cnt_by_movie[mid_int] = cnt_by_movie.get(mid_int, 0) + int(row["count"])

ratings_agg = pd.DataFrame(
    {"movieId": list(cnt_by_movie.keys()),
     "rating_sum": [sum_by_movie[k] for k in cnt_by_movie.keys()],
     "rating_count": [cnt_by_movie[k] for k in cnt_by_movie.keys()]}
)
ratings_agg["avg_rating"] = ratings_agg["rating_sum"] / ratings_agg["rating_count"]

ratings_tmdb = links.merge(ratings_agg, on="movieId", how="left")
ratings_tmdb = ratings_tmdb.dropna(subset=["rating_count"]).copy()
ratings_tmdb = ratings_tmdb.groupby("tmdbId", as_index=False).agg(
    rating_sum=("rating_sum", "sum"),
    rating_count=("rating_count", "sum")
)
ratings_tmdb["avg_rating"] = ratings_tmdb["rating_sum"] / ratings_tmdb["rating_count"]
ratings_tmdb = ratings_tmdb.rename(columns={"tmdbId": "movie_id"})[["movie_id", "avg_rating", "rating_count"]]

meta_cols = [
    "id", "title", "budget", "genres", "original_language", "original_title",
    "release_date", "revenue", "runtime", "status", "adult", "vote_average", "vote_count"
]
meta = pd.read_csv(os.path.join(data_dir, "movies_metadata.csv"), usecols=meta_cols, low_memory=False)
meta["movie_id"] = pd.to_numeric(meta["id"], errors="coerce")
meta = meta.dropna(subset=["movie_id"]).copy()
meta["movie_id"] = meta["movie_id"].astype(int)

meta["movie_name"] = meta["title"]
meta["budget"] = pd.to_numeric(meta["budget"], errors="coerce")
meta["revenue"] = pd.to_numeric(meta["revenue"], errors="coerce")
meta["runtime"] = pd.to_numeric(meta["runtime"], errors="coerce")
meta["vote_average"] = pd.to_numeric(meta["vote_average"], errors="coerce")
meta["vote_count"] = pd.to_numeric(meta["vote_count"], errors="coerce")

meta["release_date"] = pd.to_datetime(meta["release_date"], errors="coerce")
meta["release_year"] = meta["release_date"].dt.year

meta["genres"] = meta["genres"].map(genres_pipe)

meta_final = meta[[
    "movie_id", "movie_name",
    "budget", "genres", "original_language", "original_title",
    "release_date", "release_year",
    "revenue", "runtime", "status", "adult", "vote_average", "vote_count"
]].copy()

credits = pd.read_csv(os.path.join(data_dir, "credits.csv"), usecols=["id", "cast"], low_memory=False)
credits["movie_id"] = pd.to_numeric(credits["id"], errors="coerce")
credits = credits.dropna(subset=["movie_id"]).copy()
credits["movie_id"] = credits["movie_id"].astype(int)
credits["lead_actor"] = credits["cast"].map(first_cast_name)
credits = credits[["movie_id", "lead_actor"]]

keywords = pd.read_csv(os.path.join(data_dir, "keywords.csv"), usecols=["id", "keywords"], low_memory=False)
keywords["movie_id"] = pd.to_numeric(keywords["id"], errors="coerce")
keywords = keywords.dropna(subset=["movie_id"]).copy()
keywords["movie_id"] = keywords["movie_id"].astype(int)
keywords["keyword_count"] = keywords["keywords"].map(list_len)
keywords = keywords[["movie_id", "keyword_count"]]

final = (
    meta_final
    .merge(credits, on="movie_id", how="left")
    .merge(keywords, on="movie_id", how="left")
    .merge(ratings_tmdb, on="movie_id", how="left")
)

final.head()

,movie_id,movie_name,budget,genres,original_language,original_title,release_date,release_year,revenue,runtime,status,adult,vote_average,vote_count,lead_actor,keyword_count,avg_rating,rating_count
0,862,Toy Story,30000000,Animation|Comedy|Family,en,Toy Story,1995-10-30,1995.0,373554033.0,81.0,Released,False,7.7,5415.0,Tom Hanks,9.0,3.888157,66008.0
1,8844,Jumanji,65000000,Adventure|Fantasy|Family,en,Jumanji,1995-12-15,1995.0,262797249.0,104.0,Released,False,6.9,2413.0,Robin Williams,6.0,3.236953,26060.0
2,15602,Grumpier Old Men,0,Romance|Comedy,en,Grumpier Old Men,1995-12-22,1995.0,0.0,101.0,Released,False,6.5,92.0,Walter Matthau,4.0,3.175550,15497.0
3,31357,Waiting to Exhale,16000000,Comedy|Drama|Romance,en,Waiting to Exhale,1995-12-22,1995.0,81452156.0,127.0,Released,False,6.1,34.0,Whitney Houston,5.0,2.875713,2981.0
4,11862,Father of the Bride Part II,0,Comedy,en,Father of the Bride Part II,1995-02-10,1995.0,76578911.0,106.0,Released,False,5.7,173.0,Steve Martin,9.0,3.079565,15258.0

In [11]:
final = final.rename(columns={
    "avg_rating": "user_avg_rating",
    "rating_count": "user_rating_count"
})

final["release_year"] = final["release_year"].astype("Int64").astype(str)
final.loc[final["release_year"] == "<NA>", "release_year"] = pd.NA

final.head()

,movie_id,movie_name,budget,genres,original_language,original_title,release_date,release_year,revenue,runtime,status,adult,vote_average,vote_count,lead_actor,keyword_count,user_avg_rating,user_rating_count
0,862,Toy Story,30000000,Animation|Comedy|Family,en,Toy Story,1995-10-30,1995,373554033.0,81.0,Released,False,7.7,5415.0,Tom Hanks,9.0,3.888157,66008.0
1,8844,Jumanji,65000000,Adventure|Fantasy|Family,en,Jumanji,1995-12-15,1995,262797249.0,104.0,Released,False,6.9,2413.0,Robin Williams,6.0,3.236953,26060.0
2,15602,Grumpier Old Men,0,Romance|Comedy,en,Grumpier Old Men,1995-12-22,1995,0.0,101.0,Released,False,6.5,92.0,Walter Matthau,4.0,3.175550,15497.0
3,31357,Waiting to Exhale,16000000,Comedy|Drama|Romance,en,Waiting to Exhale,1995-12-22,1995,81452156.0,127.0,Released,False,6.1,34.0,Whitney Houston,5.0,2.875713,2981.0
4,11862,Father of the Bride Part II,0,Comedy,en,Father of the Bride Part II,1995-02-10,1995,76578911.0,106.0,Released,False,5.7,173.0,Steve Martin,9.0,3.079565,15258.0

In [14]:
final["adult"] = final["adult"].astype(str).str.lower().map({"true": True, "false": False})
final["budget"] = pd.to_numeric(final["budget"], errors="coerce")

In [15]:
final.dtypes

movie_id                      int64
movie_name                   object
budget                        int64
genres                       object
original_language            object
original_title               object
release_date         datetime64[ns]
release_year                 object
revenue                     float64
runtime                     float64
status                       object
adult                          bool
vote_average                float64
vote_count                  float64
lead_actor                   object
keyword_count               float64
user_avg_rating             float64
user_rating_count           float64
dtype: object

In [16]:
final.isna().sum()

movie_id                0
movie_name              4
budget                  0
genres               2525
original_language      11
original_title          0
release_date           88
release_year           88
revenue                 4
runtime               268
status                 86
adult                   0
vote_average            4
vote_count              4
lead_actor           2492
keyword_count           1
user_avg_rating       745
user_rating_count     745
dtype: int64

In [ ]:
final.to_csv("final_movie_table.csv", index=False)